#SUBSYSTEM=="usb", ATTR{idProduct}=="1276", ATTR{idVendor}=="ab20", MODE:="0666", OWNER:="root", GROUP:="video", KERNELS=="3-2.1", SYMLINK+="usb_camera_front"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="ab20", ATTRS{idProduct}=="1276", MODE:="0666", GROUP:="video", KERNELS=="2-1.2", ENV{ID_V4L_CAPABILITIES}=="*:capture:*", SYMLINK+="usb_camera_front"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="ab20", ATTRS{idProduct}=="1276", MODE:="0666", GROUP:="video", KERNELS=="1-1.1", ENV{ID_V4L_CAPABILITIES}=="*:capture:*", SYMLINK+="usb_camera_back"