[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/doctest/doctest
[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench
[submodule "asiostudy/asio"]
	path = asiostudy/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "yalantingstudy/yalantinglibs"]
	path = yalantingstudy/yalantinglibs
	url = https://github.com/alibaba/yalantinglibs.git
