[submodule "3rdparty/liburing"]
	path = 3rdparty/liburing
	url = https://github.com/axboe/liburing.git
[submodule "3rdparty/yalantinglibs"]
	path = 3rdparty/yalantinglibs
	url = https://github.com/alibaba/yalantinglibs.git
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "3rdparty/nlohmann_json"]
	path = 3rdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/ormpp"]
	path = 3rdparty/ormpp
	url = https://github.com/qicosmos/ormpp.git
[submodule "3rdparty/cinatra"]
	path = 3rdparty/cinatra
	url = https://github.com/qicosmos/cinatra.git
[submodule "3rdparty/iguana"]
	path = 3rdparty/iguana
	url = https://github.com/qicosmos/iguana.git
[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/doctest/doctest.git
[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "3rdparty/concurrentqueue"]
	path = 3rdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "3rdparty/gperftools"]
	path = 3rdparty/gperftools
	url = https://github.com/gperftools/gperftools.git
